.img{
    height: 100px;
    width: 100px;
    
}
.selectedpage{
    color: red;
    font-weight: 900;
    background-color: black;
}
.buttoncolor{
    background-color:  red;
    color: white;
    height: 30px;
    width: 50px;
}
.page{
    height: 30px;
    width: 40px;
}