.header{
    grid-area: h;
    background-color:rgb(54, 52, 52);
   }
   .header img{
       width: 80px;
       height: 80px;
   
   }
   .login{
    float: right;
   }
   .login a{
    color: white;
   }
   .login div{
    color: red;
   }